.container {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 98%;
  margin: 40px 0;
}
.container-filmes {
  display: flex;
  background-color: rgba(187, 187, 187, 0.493);
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0px 10px;
  margin: 5px 5px;
  border-radius: 20px;
}
.container-h1 {
  display: flex;
  align-items: center;
  height: 60px;
}
.container-filmes h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
#container-btn-link {
  display: flex;
  gap: 5px;
}

#container-btn-link a {
  color: #fff;
  background-color: rgb(117, 192, 3);
  padding: 13px 25px;
  border-radius: 5px;
  text-decoration: none;
}
#container-btn-link button {
  background-color: rgba(255, 0, 0, 0.884);
  border-radius: 5px;
  padding: 0px 25px;
  color: #fff;
  border: none;
  cursor: pointer;
}
